<div  id="castlery" class="row card-panel red lighten-3">
    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
        <h4 class="grey-text text-lighten-5">Brand:</h4>
        <a class="waves-effect waves-light brown darken-1 btn" href="/brand" style="margin-top: 10px; display: block;">CASTLERY</a>
    </div>

    <div class="col s12 m8 l10">
        <div class="row">
            {{#each furniture as |f|}}
            {{#ifEquals f.brand "CASTLERY"}}
                
            {{> product-details f}}
                
            {{/ifEquals}}
            {{/each}}
            
        </div>
    </div> 

</div>

<div  id="floyd" class="row card-panel red lighten-3">
    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
        <h4 class="grey-text text-lighten-5">Brand:</h4>
        <a class="waves-effect waves-light brown darken-1 btn" href="/brand" style="margin-top: 10px; display: block;">FLOYD</a>
    </div>

    <div class="col s12 m8 l10">
        <div class="row">
            {{#each furniture as |f|}}
            {{#ifEquals f.brand "FLOYD"}}
                
            {{> product-details f}}
                
            {{/ifEquals}}
            {{/each}}
            
        </div>
    </div> 

</div>