<div  id="Brown" class="row card-panel red lighten-3">
    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
        <h4 class="grey-text text-lighten-5">Color:</h4>
        <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Brown</a>
    </div>

    <div class="col s12 m8 l10">
        <div class="row">
            <div class="col s12 m6 l4">
                {{!-- {{#if furniture.color === "Brown"}}
                {{#each furniture as |brown|}}
                {{> brown-details}}
                {{/each}}
                {{/if}} --}}
            </div>
            
        </div>
    </div> 

</div>

<div  id="Natural" class="row card-panel red lighten-3">
    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
        <h4 class="grey-text text-lighten-5">Color:</h4>
        <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Natural</a>
    </div>

    <div class="col s12 m8 l10">
        <div class="row">
            <div class="col s12 m6 l4">
                {{#each color.naturals as |natural|}}
                {{> natural-details}}
                {{/each}}
            </div>
            
        </div>
    </div> 

</div>

<div  id="Oat" class="row card-panel red lighten-3">
    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
        <h4 class="grey-text text-lighten-5">Color:</h4>
        <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Oat</a>
    </div>

    <div class="col s12 m8 l10">
        <div class="row">
            <div class="col s12 m6 l4">
                {{#each color.oats as |oat|}}
                {{> oat-details}}
                {{/each}}
            </div>
            
        </div>
    </div> 

</div>