<div  id="color" class="row card-panel red lighten-3">

    <div class="col s12 m4 l2 center-align" id="side-bar">

        
            <h4 class="grey-text text-lighten-5">Color:</h4>

            <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Brown</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Natural</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/color" style="margin-top: 10px; display: block;">Oat</a>
    </div>
  
    <div class="col s12 m8 l10"> 
          
          <div class="row">
            <div class="col s12 m6 l4">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1624964497/crusader/variants/40550131/Seb-Desk-Lifestyle-Crop.jpg">
                  
                </div>
                
              </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1676537490/crusader/variants/50220003/Dillon-Extendable-Dining-Table-280cm-Set_2-1676537487.jpg">
                    
                  </div>
                  
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1662539024/crusader/variants/40210001-CH/Maui-chair-Charcoal-Det_11-1662539018.jpg">
                    
                  </div>
                  
                </div>
            </div>

          </div>




    </div>
</div>


<div  id="category" class="row card-panel red lighten-3">

    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
            <h4 class="grey-text text-lighten-5">Category:</h4>

            <a class="waves-effect waves-light brown darken-1 btn" href="/category/bedroom" style="margin-top: 10px; display: block;">Bedroom</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/category/livingroom" style="margin-top: 10px; display: block;">Living room</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/category/outdoor" style="margin-top: 10px; display: block;">Outdoor</a>
    </div>
  
    <div class="col s12 m8 l10"> 
          <!-- Teal page content  -->
          <div class="row">
            <div class="col s12 m6 l4">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1624966358/crusader/variants/40550169/Seb-Queen-Size-Bed-Lifestyle-Crop.jpg">
                  
                </div>
                
              </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://cdn.shopify.com/s/files/1/0462/1706/8706/products/ProductSelector1_6.jpg?v=1677615527&width=1002.7855153203343">
                    
                  </div>
                  
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1662539024/crusader/variants/40210001-CH/Maui-chair-Charcoal-Det_11-1662539018.jpg">
                    
                  </div>
                  
                </div>
            </div>

          </div>




    </div>
</div>

<div  id="brand" class="row card-panel red lighten-3">

    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
            <h4 class="grey-text text-lighten-5">Brand:</h4>

            <a class="waves-effect waves-light brown darken-1 btn" href="/brand/CASTLERY" style="margin-top: 10px; display: block;">CASTLERY</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/brand/FLOYD" style="margin-top: 10px; display: block;">FLOYD</a>
        
    </div>
  
    <div class="col s12 m8 l10"> 
          <!-- Teal page content  -->
          <div class="row">
            <div class="col s12 m6 l4">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1662539024/crusader/variants/40210001-CH/Maui-chair-Charcoal-Det_11-1662539018.jpg">
                  
                </div>
                
              </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://cdn.shopify.com/s/files/1/0462/1706/8706/products/ProductSelector1_6.jpg?v=1677615527&width=1002.7855153203343">
                    
                  </div>
                  
                </div>
            </div>

          </div>




    </div>
</div>


<div  id="material" class="row card-panel red lighten-3">

    <div class="col s12 m4 l2 center-align" id="side-bar">

          <!-- side-bar -->
            <h4 class="grey-text text-lighten-5">Material:</h4>

            <a class="waves-effect waves-light brown darken-1 btn" href="/material/wood" style="margin-top: 10px; display: block;">Wood</a>
            <a class="waves-effect waves-light brown darken-1 btn" href="/material/polyester" style="margin-top: 10px; display: block;">Polyester</a>
        
    </div>
  
    <div class="col s12 m8 l10"> 
          <!-- Teal page content  -->
          <div class="row">
            <div class="col s12 m6 l4">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="https://cdn.shopify.com/s/files/1/0462/1706/8706/products/ProductSelector1_6.jpg?v=1677615527&width=1002.7855153203343">
                  
                </div>
                
              </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/castlery/image/private/w_700,f_auto,q_auto/b_rgb:F3F3F3,c_fit/v1624964497/crusader/variants/40550131/Seb-Desk-Lifestyle-Crop.jpg">
                    
                  </div>
                  
                </div>
            </div>

          </div>




    </div>
</div>
