<form id="registration-form">
  <input type="text" name="name" id="name" placeholder="Name" required>
  <input type="email" name="email" id="email" placeholder="Email" required>
  <input type="password" name="password" id="password" placeholder="Password" minlength="8" required>
  <button type="submit">Register</button>
</form>

<script src="/js/createAccount.js"></script>